# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [13]:
# Do all imports and installs here
import pandas as pd
import os
import psycopg2
import numpy as np
from sqlalchemy import create_engine
from datetime import datetime
from pandas_profiling import ProfileReport

In [2]:
# env set up
base_dir = os.path.abspath(os.getcwd())
data_dir = os.path.join(base_dir, "data_sources")
city_filepath = os.path.join(data_dir, "us-cities-demographics.csv")

In [3]:
# psql connection string
SQLALCHAMY_DATABASE_URL = f"postgresql://capstone:example@127.0.0.1:5434/capstone"

engine = create_engine(SQLALCHAMY_DATABASE_URL)

In [4]:
df_immi = pd.DataFrame(columns=['cicid', 'i94yr', 'i94mon', 'i94cit', 'i94res', 'i94port', 'arrdate',
       'i94mode', 'i94addr', 'depdate', 'i94bir', 'i94visa', 'count',
       'dtadfile', 'visapost', 'occup', 'entdepa', 'entdepd', 'entdepu',
       'matflag', 'biryear', 'dtaddto', 'gender', 'insnum', 'airline',
       'admnum', 'fltno', 'visatype'])

# loop through all parquet files
for subdir, dirs, files in os.walk(data_dir):
    for file in files:
        filepath = subdir + os.sep + file

        if filepath.endswith(".parquet"):
            df_temp = pd.read_parquet(filepath, engine='pyarrow')
            df_immi = pd.concat([df_immi, df_temp])

In [5]:
df_immi['updated_at'] = datetime.now()

In [6]:
df_immi.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype,updated_at
0,4904480.0,2016.0,4.0,245.0,245.0,CHI,20570.0,1.0,VA,20583.0,...,M,1968.0,10252016,M,None,AA,9.462202e+10,00262,B2,2022-12-10 21:24:30.135479
1,4904481.0,2016.0,4.0,245.0,245.0,CHI,20570.0,1.0,VA,20583.0,...,M,1971.0,10252016,F,None,AA,9.462196e+10,00262,B2,2022-12-10 21:24:30.135479
2,4904482.0,2016.0,4.0,245.0,245.0,CHI,20570.0,1.0,VA,20583.0,...,M,1996.0,10252016,M,None,AA,9.462200e+10,00262,B2,2022-12-10 21:24:30.135479
3,4904483.0,2016.0,4.0,245.0,245.0,CHI,20570.0,1.0,WA,20580.0,...,M,1977.0,10252016,F,None,AA,9.462163e+10,00262,B1,2022-12-10 21:24:30.135479
4,4904490.0,2016.0,4.0,245.0,245.0,CHI,20570.0,1.0,DE,20595.0,...,M,1963.0,10252016,F,None,DL,9.461481e+10,00188,B2,2022-12-10 21:24:30.135479

In [7]:
df_immi.dtypes

cicid                float64
i94yr                float64
i94mon               float64
i94cit               float64
i94res               float64
i94port               object
arrdate              float64
i94mode              float64
i94addr               object
depdate              float64
i94bir               float64
i94visa              float64
count                float64
dtadfile              object
visapost              object
occup                 object
entdepa               object
entdepd               object
entdepu               object
matflag               object
biryear              float64
dtaddto               object
gender                object
insnum                object
airline               object
admnum               float64
fltno                 object
visatype              object
updated_at    datetime64[ns]
dtype: object

In [8]:
df_city = pd.read_csv(city_filepath, sep=";")

In [9]:
df_city.columns

Index(['City', 'State', 'Median Age', 'Male Population', 'Female Population',
       'Total Population', 'Number of Veterans', 'Foreign-born',
       'Average Household Size', 'State Code', 'Race', 'Count'],
      dtype='object')

In [10]:
df_city.rename(columns={'City': 'city', 'State': 'state', 'Median Age': 'median_age', 'Male Population': 'male_population',
                       'Female Population': 'female_population', 'Total Population': 'total_population', 'Number of Veterans': 'number_of_veterans', 
                       'Foreign-born': 'foreign_born', 'Average Household Size': 'average_household_size',
                        'State Code': 'state_code', 'Race': 'race', 'Count': 'count'
                       }, inplace=True)

In [11]:
df_city['updated_at'] = datetime.now()

In [12]:
df_city

,city,state,median_age,male_population,female_population,total_population,number_of_veterans,foreign_born,average_household_size,state_code,race,count,updated_at
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924,2022-12-10 21:24:34.727669
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723,2022-12-10 21:24:34.727669
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759,2022-12-10 21:24:34.727669
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437,2022-12-10 21:24:34.727669
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402,2022-12-10 21:24:34.727669
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2886,Stockton,California,32.5,150976.0,154674.0,305650,12822.0,79583.0,3.16,CA,American Indian and Alaska Native,19834,2022-12-10 21:24:34.727669
2887,Southfield,Michigan,41.6,31369.0,41808.0,73177,4035.0,4011.0,2.27,MI,American Indian and Alaska Native,983,2022-12-10 21:24:34.727669
2888,Indianapolis,Indiana,34.1,410615.0,437808.0,848423,42186.0,72456.0,2.53,IN,White,553665,2022-12-10 21:24:34.727669
2889,Somerville,Massachusetts,31.0,41028.0,39306.0,80334,2103.0,22292.0,2.43,MA,American Indian and Alaska Native,374,2022-12-10 21:24:34.727669
2890,Coral Springs,Florida,37.2,63316.0,66186.0,129502,4724.0,38552.0,3.17,FL,White,90896,2022-12-10 21:24:34.727669

In [54]:
def process_immigration_df(df: pd.DataFrame, table_name):
    df.to_sql(name=table_name, con=engine, if_exists='append', index=False)

In [68]:
process_df(df_immi, 'immigration')

In [67]:
process_df(df_city, 'city')

In [15]:
# pandas profiling

city_report = ProfileReport(df_city)
city_report.to_file(output_file='city_profiling.html')

immi_report = ProfileReport(df_immi)
immi_report.to_file(output_file='immi_profiling.html')

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/home/lot3sgh/projects/udacity_data_engineering_capstone/venv/lib/python3.8/site-packages/multimethod/__init__.py:315: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  return func(*args, **kwargs)
/home/lot3sgh/projects/udacity_data_engineering_capstone/venv/lib/python3.8/site-packages/multimethod/__init__.py:315: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  return func(*args, **kwargs)

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

/home/lot3sgh/projects/udacity_data_engineering_capstone/venv/lib/python3.8/site-packages/multimethod/__init__.py:315: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  return func(*args, **kwargs)
/home/lot3sgh/projects/udacity_data_engineering_capstone/venv/lib/python3.8/site-packages/scipy/stats/_stats_py.py:112: RuntimeWarning: The input array could not be properly checked for nan values. nan values will be ignored.
  warnings.warn("The input array could not be properly "
/home/lot3sgh/projects/udacity_data_engineering_capstone/venv/lib/python3.8/site-packages/multimethod/__init__.py:315: FutureWarning: reindexing with a non-unique Index is deprecated and will raise in a future version.
  return func(*args, **kwargs)
/home/lot3sgh/projects/udacity_data_engineering_capstone/venv/lib/python3.8/site-packages/pandas_profiling/model/correlations.py:67: UserWarning: There was an attempt to calculate the auto correlation, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(correlations={"auto": {"calculate": False}})`
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/pandas-profiling/issues
(include the error message: 'cannot reindex on an axis with duplicate labels')
  warnings.warn(
/home/lot3sgh/projects/udacity_data_engineering_capstone/venv/lib/python3.8/site-packages/multimethod/__init__.py:315: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  return func(*args, **kwargs)
/home/lot3sgh/projects/udacity_data_engineering_capstone/venv/lib/python3.8/site-packages/scipy/stats/_stats_py.py:5218: RuntimeWarning: overflow encountered in long_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

In [5]:
# Read in the data here

In [6]:
df.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,6.0,2016.0,4.0,692.0,692.0,XXX,20573.0,NaN,NaN,NaN,...,U,NaN,1979.0,10282016,NaN,NaN,NaN,1.897628e+09,NaN,B2
1,7.0,2016.0,4.0,254.0,276.0,ATL,20551.0,1.0,AL,NaN,...,Y,NaN,1991.0,D/S,M,NaN,NaN,3.736796e+09,00296,F1
2,15.0,2016.0,4.0,101.0,101.0,WAS,20545.0,1.0,MI,20691.0,...,NaN,M,1961.0,09302016,M,NaN,OS,6.666432e+08,93,B2
3,16.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,1988.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2
4,17.0,2016.0,4.0,101.0,101.0,NYC,20545.0,1.0,MA,20567.0,...,NaN,M,2012.0,09302016,NaN,NaN,AA,9.246846e+10,00199,B2

In [ ]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.\
config("spark.jars.repositories", "https://repos.spark-packages.org/").\
config("spark.jars.packages", "saurfang:spark-sas7bdat:2.0.0-s_2.11").\
enableHiveSupport().getOrCreate()

df_spark = spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

In [11]:
#write to parquet
df_spark.write.parquet("sas_data")
df_spark=spark.read.parquet("sas_data")

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

In [ ]:
# Performing cleaning tasks here

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

In [ ]:
# Write code here

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.