# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [16]:
# Do all imports and installs here
import pandas as pd
import os
import psycopg2
import numpy as np
from sqlalchemy import create_engine
from datetime import datetime
from pandas_profiling import ProfileReport

In [17]:
# env set up
base_dir = os.path.abspath(os.getcwd())
data_dir = os.path.join(base_dir, "data_sources")
city_filepath = os.path.join(data_dir, "us-cities-demographics.csv")

In [18]:
# psql connection string
SQLALCHAMY_DATABASE_URL = f"postgresql://capstone:example@127.0.0.1:5434/capstone"

engine = create_engine(SQLALCHAMY_DATABASE_URL)

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

### Scope & Describe Data

In this project I plan to use I94 immigration dataset and US city demographic dataset to make a small size data warehouse for analyzing the immigrants coming to United State.

I will adopt Kimball's dimensional modelling technique to make analytic tables for those two datasets. The analysis will starts with identifying the business process requirements, to extract and load the datasets into postgres database, then I will model the fact and dimension tables for further analysis.

The primary tools I used in this project are python, sql and dbt. I use python to script the extraction and loading parts of the ELT workflow, for the data transformation I mainly use sql and dbt in conjunction with airflow to do the workflow scheduling.

In [19]:
df_immi = pd.DataFrame(columns=['cicid', 'i94yr', 'i94mon', 'i94cit', 'i94res', 'i94port', 'arrdate',
       'i94mode', 'i94addr', 'depdate', 'i94bir', 'i94visa', 'count',
       'dtadfile', 'visapost', 'occup', 'entdepa', 'entdepd', 'entdepu',
       'matflag', 'biryear', 'dtaddto', 'gender', 'insnum', 'airline',
       'admnum', 'fltno', 'visatype'])

# loop through all parquet files
for subdir, dirs, files in os.walk(data_dir):
    for file in files:
        filepath = subdir + os.sep + file

        if filepath.endswith(".parquet"):
            df_temp = pd.read_parquet(filepath, engine='pyarrow')
            df_immi = pd.concat([df_immi, df_temp])

In [20]:
df_immi['updated_at'] = datetime.now()

In [21]:
df_immi.head()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,...,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype,updated_at
0,4904480.0,2016.0,4.0,245.0,245.0,CHI,20570.0,1.0,VA,20583.0,...,M,1968.0,10252016,M,None,AA,9.462202e+10,00262,B2,2022-12-11 13:18:58.006531
1,4904481.0,2016.0,4.0,245.0,245.0,CHI,20570.0,1.0,VA,20583.0,...,M,1971.0,10252016,F,None,AA,9.462196e+10,00262,B2,2022-12-11 13:18:58.006531
2,4904482.0,2016.0,4.0,245.0,245.0,CHI,20570.0,1.0,VA,20583.0,...,M,1996.0,10252016,M,None,AA,9.462200e+10,00262,B2,2022-12-11 13:18:58.006531
3,4904483.0,2016.0,4.0,245.0,245.0,CHI,20570.0,1.0,WA,20580.0,...,M,1977.0,10252016,F,None,AA,9.462163e+10,00262,B1,2022-12-11 13:18:58.006531
4,4904490.0,2016.0,4.0,245.0,245.0,CHI,20570.0,1.0,DE,20595.0,...,M,1963.0,10252016,F,None,DL,9.461481e+10,00188,B2,2022-12-11 13:18:58.006531

In [22]:
df_immi.dtypes

cicid                float64
i94yr                float64
i94mon               float64
i94cit               float64
i94res               float64
i94port               object
arrdate              float64
i94mode              float64
i94addr               object
depdate              float64
i94bir               float64
i94visa              float64
count                float64
dtadfile              object
visapost              object
occup                 object
entdepa               object
entdepd               object
entdepu               object
matflag               object
biryear              float64
dtaddto               object
gender                object
insnum                object
airline               object
admnum               float64
fltno                 object
visatype              object
updated_at    datetime64[ns]
dtype: object

In [23]:
df_city = pd.read_csv(city_filepath, sep=";")

In [24]:
df_city.columns

Index(['City', 'State', 'Median Age', 'Male Population', 'Female Population',
       'Total Population', 'Number of Veterans', 'Foreign-born',
       'Average Household Size', 'State Code', 'Race', 'Count'],
      dtype='object')

In [25]:
df_city.rename(columns={'City': 'city', 'State': 'state', 'Median Age': 'median_age', 'Male Population': 'male_population',
                       'Female Population': 'female_population', 'Total Population': 'total_population', 'Number of Veterans': 'number_of_veterans', 
                       'Foreign-born': 'foreign_born', 'Average Household Size': 'average_household_size',
                        'State Code': 'state_code', 'Race': 'race', 'Count': 'count'
                       }, inplace=True)

In [26]:
df_city['updated_at'] = datetime.now()

In [28]:
df_city.head()

,city,state,median_age,male_population,female_population,total_population,number_of_veterans,foreign_born,average_household_size,state_code,race,count,updated_at
0,Silver Spring,Maryland,33.8,40601.0,41862.0,82463,1562.0,30908.0,2.60,MD,Hispanic or Latino,25924,2022-12-11 13:19:02.219098
1,Quincy,Massachusetts,41.0,44129.0,49500.0,93629,4147.0,32935.0,2.39,MA,White,58723,2022-12-11 13:19:02.219098
2,Hoover,Alabama,38.5,38040.0,46799.0,84839,4819.0,8229.0,2.58,AL,Asian,4759,2022-12-11 13:19:02.219098
3,Rancho Cucamonga,California,34.5,88127.0,87105.0,175232,5821.0,33878.0,3.18,CA,Black or African-American,24437,2022-12-11 13:19:02.219098
4,Newark,New Jersey,34.6,138040.0,143873.0,281913,5829.0,86253.0,2.73,NJ,White,76402,2022-12-11 13:19:02.219098

In [54]:
def process_immigration_df(df: pd.DataFrame, table_name):
    df.to_sql(name=table_name, con=engine, if_exists='append', index=False)

In [68]:
# only to run these if want to load into db
process_df(df_immi, 'immigration')
process_df(df_city, 'city')

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

### Explore

Here I first used pandas profiling package to get a taste of what the datasets look like, I exported the expolorary analysis to html files.

In [ ]:
# pandas profiling, only run if the html analysis havn't been generated. It took a while to finish
city_report = ProfileReport(df_city)
city_report.to_file(output_file='city_profiling.html')

immi_report = ProfileReport(df_immi)
immi_report.to_file(output_file='immi_profiling.html')

In [34]:
# to get the total summation of all missing values in the DataFrame
df_city.isnull().sum().sum()

48

In [35]:
# to get the total summation of all missing values in the DataFrame
df_immi.isnull().sum().sum()

12139874

In [37]:
df_city.isnull().sum()

city                       0
state                      0
median_age                 0
male_population            3
female_population          3
total_population           0
number_of_veterans        13
foreign_born              13
average_household_size    16
state_code                 0
race                       0
count                      0
updated_at                 0
dtype: int64

In [36]:
df_immi.isnull().sum()

cicid               0
i94yr               0
i94mon              0
i94cit              0
i94res              0
i94port             0
arrdate             0
i94mode           239
i94addr        152592
depdate        142457
i94bir            802
i94visa             0
count               0
dtadfile            1
visapost      1881250
occup         3088187
entdepa           238
entdepd        138429
entdepu       3095921
matflag        138429
biryear           802
dtaddto           477
gender         414269
insnum        2982605
airline         83627
admnum              0
fltno           19549
visatype            0
updated_at          0
dtype: int64

In [39]:
df_city.duplicated().sum()

0

In [40]:
df_immi.duplicated().sum()

0

It appears in US city dataset, the missing values are relatively small; However, for immigration dataset there are significant amount of missing values need to be taken care of.

There are no duplication in both datasets

### Performing cleaning tasks here

I will do data cleanning and data transformation in dbt, for that part of the code please find dbt_udacity_capstone directory.

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

[ERD diagram url](https://dbdiagram.io/d/63957606bae3ed7c454608df)

![ERD](images/udacity_data_engineer_capstone.png)

I chose Kimball's dimensional modelling methodology to model the input data.

A dimension is basically a descriptive information about the facts, a fact indicates business measurements or business activities. I plan to model the input data based on the ERD diagram listed above.

I will use dbt to transform the raw data into facts and dimenstions, in between there is a staging area where I used to clean up the raw data.

![architecture](images/architecture.png)

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

 The data pipelines are built in dbt, please find the code in udacity_data_engineer_capstone directory.
 
 For workflow flow charts kindly find below.
 
 ![immi](images/immi_flowchart.png)
 
 ![demo](images/demographic.png)

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

Tests are performed using dbt within './dbt_udacity_capstone/models/warehouse/schemas.yml' file.

In total I used three generic tests.

1. not_null: to test whether there is null value in given column.
2. unique: check row uniqueness.
3. relationship: check whether given column have relationship with another table.

Kindly find the test results at below.

![test](images/test.png)

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

Documentations are generated using these commands in dbt directory.

```
dbt docs generate

dbt docs serve
```

dbt docs generate — this command tells dbt to compile relevant information about dbt project and warehouse into manifest.json and catalog.json files respectively. 

Then, run dbt docs serve to use these .json files to populate a local website at port 8080.

Please find the data dictionary for each table after started local server at port 8080.

Below is the sample data dictionary for fct_immigration table.

![dictionary_immi](images/dictionary_immi.png)

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.

In this project I built a ELT pipeline. The primary tools I used in this project are python, sql and dbt. I use python to script the extraction and loading parts of the ELT workflow, for the data transformation I mainly use sql and dbt in conjunction with airflow to do the workflow scheduling.

Python, sql and airflow are the status quo within the data engineering world. While I choose dbt mainly because it brings the best practices from the software engineering world into data analysis including code version control, better sql code collaboration and testing. It avoids writing boilerplate DML and DDL by managing transactions, dropping tables, and managing schema changes under the hood for users.

The dbt modelling pipeline should have a daily running schedule to ingest new raw data coming to the database. The scheduling is performed by airflow. Purpose is to accurately reflect the latest change in raw data to build accurate facts and dimensions for data analysis.

If the data was incrased by 100x I will probably try to use airbyte instead of python pandas to ingest the data. Airbyte will use a change flag to do incremental update on the raw data table automatically, this will save me a lot of time ingesting data. Afterwards I will let airflow to trigger dbt to run the data transformation work.

If there is a dashboard that must be updated on a daily basis by 7am every day, I will let Airflow to have a daily running job probably around 5am to trigger 'dbt run' & 'dbt test' commands to update the models.

If the database is going to be accessed by 100+ people I will use nosql or cloud database instead of postgres. Cloud databases have better horizontal scaling capabilities which traditional RDBMS lacks.